In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [33]:
data = pd.read_excel('D:/datamining/dataset-caesarian-new.xls')

In [34]:
data.head()

,Age,Delivery Number,Delivery Time,Blood of Pressure,Heart Problem,Caesarian
0,22,1,Tepat Waktu,Tinggi,Normal,Normal
1,26,2,Tepat Waktu,Rendah,Normal,Caesar
2,26,2,Prematur,Rendah,Normal,Normal
3,28,1,Tepat Waktu,Tinggi,Normal,Normal
4,22,2,Tepat Waktu,Rendah,Normal,Caesar

In [35]:
data.shape

(80, 6)

In [36]:
data['Caesarian'].value_counts()

Caesar    46
Normal    34
Name: Caesarian, dtype: int64

In [37]:
CsrYes = 46/80
CsrNo = 34/80

In [38]:
print(CsrYes)

0.575

In [39]:
print(CsrNo)

0.425

In [40]:
data['Age'].value_counts()

26    10
32     8
27     7
25     7
29     6
28     6
33     5
22     4
31     3
36     3
20     3
30     3
21     2
35     2
19     2
18     2
24     2
40     1
23     1
38     1
37     1
17     1
Name: Age, dtype: int64

# Menampilkan Data Usia Yang Melahirkan Normal Atau Caesar

In [41]:
pd.crosstab(data['Age'], data['Caesarian'])

Caesarian  Caesar  Normal
Age
17              1       0
18              1       1
19              2       0
20              2       1
21              2       0
22              2       2
23              0       1
24              1       1
25              2       5
26              4       6
27              4       3
28              3       3
29              5       1
30              1       2
31              0       3
32              7       1
33              3       2
35              1       1
36              2       1
37              1       0
38              1       0
40              1       0

In [43]:
PAgeCsrNo  = 6/34
PAgeCsrYes = 7/46

print(PAgeCsrNo)

0.17647058823529413

In [44]:
PAgeCsrNo  = 6/34
PAgeCsrYes = 7/46

print(PAgeCsrYes)

0.15217391304347827

In [ ]:
# P(A|B)
# P(A) = PAgeCsrYes 
# P(B) = PAgeCsrNo
# P(B|A) = PAgeCsrYes|AgeCsrNo

In [46]:
PAgeCsrYes = (PAgeCsrYes*CsrYes)/PAgeCsrYes
print(PAgeCsrYes)

0.575

In [47]:
PAgeCsrNo = (PAgeCsrNo*CsrNo)/PAgeCsrNo
print(PAgeCsrNo)

0.42499999999999993

In [49]:
print(PAgeCsrYes)
print(PAgeCsrNo)

0.575
0.42499999999999993

# Menampilkan Data Yang Melahirkan Normal Atau Caesar dengan Kondisi Tekanan Darah Rendah, Normal Atau Tingg

In [50]:
pd.crosstab(data['Blood of Pressure'], data['Caesarian'])

Caesarian          Caesar  Normal
Blood of Pressure
Normal                 15       5
Rendah                 17      23
Tinggi                 14       6

In [51]:
PCsrBlNormal  = 5/34
PCsrBlRendah = 23/34
PCsrBlTinggi  = 6/34

PNormBlNormal  = 15/46
PNormBlRendah  = 17/46
PNormBlTinggi  = 14/46

# Menampilkan Data Yang Melahirkan Normal Atau Caesar dengan Kondisi Kelahiran Tepat Waktu, Prematur Atau Terlambat

In [52]:
pd.crosstab(data['Delivery Time'], data['Caesarian'])

Caesarian      Caesar  Normal
Delivery Time
Prematur            8       9
Tepat Waktu        30      16
Terlambat           8       9

In [54]:
PCsrTMPrematur  = 8/34
PCsrTMTepatWaktu = 30/34
PCsrTMTerlambat  = 6/34

PNormPrematur  = 9/46
PNormTepatWaktu  = 16/46
PNormTerlambat  = 9/46

In [57]:
PCsr1 = ((PAgeCsrYes*PCsrBlNormal*PCsrBlRendah*PCsrBlTinggi)*CsrYes)/(PCsrTMPrematur*PCsrTMTepatWaktu*PCsrTMTerlambat)
print(PCsr1)

0.15842447916666663

In [59]:
PNormal1 = ((PAgeCsrNo*PNormBlNormal*PNormBlRendah*PNormBlTinggi)*CsrNo)/(PNormPrematur*PNormTepatWaktu*PNormTerlambat)
print(PNormal1)

0.4975549768518518

In [61]:
PSum = PCsr1+PNormal1
print(PSum)

0.6559794560185184